/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
} */

.here{
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

textarea {
  width: 600px;
  height: 250px;
  background: white;
  font-size: 15px;
  padding: 10px;

  resize: none;
}

.row{
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
}

button{
  margin-left: 260px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}

/* select{
  height: 30px;
  flex: 1;
  padding:10px;

  border-radius: 15px;
} */


